:root{
    //font size
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 22px;
    --fs-xxl: 24px;
    --fs-xxxl: 24px;
    --fs-greet: 34px;
    --fs-brand: 48px;
    //font weight
    --fw-light: 400;
    --fw-normal: 500;
    --fw-medium: 500;
    --fw-bold: 700;
    //font radius
    --br-sm: 5px;

    //colours
    --black: #3c3d43;
    --white: #ffffff;
    --rose: #fdbaa3;
    --red: #f7685c;
    --green: #30c58d;
    --creem: #fffdfa;
    --grey: #808080;
    --light-grey: #a8a8b3;
    --cream-light: rgb(253, 186, 163, 40%);
}
.light{
    background-color: var(--white);
    color: var(--black);
}

.dark{
    background-color: var(--black);
    color: var(--white);
}